h1 {
	color:#09f;
	margin-bottom:50px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.navbar-nav {
	float:right;
}
.lead {
	background-color:rgba(255,255,255,0.50);
	position:relative;
	margin-top:20px;
}
.form {
	padding:4px;
	margin-bottom:20px;
}
#error_email {
	color:red;
	font-size:9px;
	font-style:italic;
	margin-bottom:15px;
}
#error_password {
	color:red;
	font-size:9px;
	font-style:italic;
	margin-bottom:15px;
}
#error_password2 {
	color:red;
	font-size:9px;
	font-style:italic;
	margin-bottom:15px;
}
#error_name {
	color:red;
	font-size:9px;
	font-style:italic;
	margin-bottom:15px;
}
.open {
	margin-right:100px;
}
#name {
	height:50px;
	width:500px;
	font-size:30px;
}
.name {
	color:silver;
	font-size:50px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.btn-primary {
	display:inline-block;
	background-color:rgba(0,100,100,1.00)
}
.name, #name, btn {
    vertical-align:middle;
}