{% extends "base.html" %}

{% block title %}Dummy Page ::{% endblock %}

{% block body %} background="media/img/bg.png" {% endblock %}

{% block content %}

<div class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#">Oola Dance Class Zumba Thing</a>
  </div>
 </div>
</div>

<div class="container">

 <div class="starter-template">
  <h1>Welcome to Ula Dance Fitness</h1>
  <p class="lead">
   Have fun Zumbaing.
   <br>
   Seriously.
  </p>
  <form id="formup" method="post">
   {% csrf_token %}

   {% for field in feild %}
   <p>
    <span>{{ field.label }}:</span>
    {{ field }}
    <span class = "error_cus" id="form_error_{{ field.name }}">{{ field.errors|join:", "}}</span>
   </p>
   {% endfor %}

   <div class="set-button center full">
    <div id="svdDataMsg" class="savedDataMsg"></div>
    <input name="submit" type="submit" value="{{ submitVal|default:"Check In" }}" class="btn btn-primary" />
   </div>
  </form>
 </div>
</div><!-- /.container -->

<script src="media/js/forms.js" type="text/javascript"></script>

{% endblock %}
