<link href="/media/css/oola.css" rel="stylesheet"/>
<div class="oola-form-block">
<form id="postDrpdnForm" enctype="multipart/form-data" method="post" action="{{ actionUrl }}" novalidate>{% csrf_token %}
    {% for field in form %}
     <div class="row form-group" style="margin:5px;">
      {% if not field.is_hidden %}
       <span class="col-sm-3 text-right">{{ field.label }}:</span>
      {% endif %} 
      <span class="col-sm-9">{{ field }}</span>
     </div>
    {% endfor %}

  <p class="text-center">
	<button class="btn-u btn-primary" type="submit">Upload</button>                     
  </p>
</form>
&nbsp;
</div>
<script type="text/javascript" src="media/js/forms.js"></script>
