  <!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/Twitter_Boostrap_logo.svg/597px-Twitter_Boostrap_logo.svg.png">
    <title>Oola Dance Fitness Thingy</title>
    <link href="../media/css/bootstrapCSS.css" rel="stylesheet">
    <link href="../media/css/admin-ula.css" rel="stylesheet" type="text/css">
    <script src="../css/bootstrapJavascript.js"></script> 
    <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="bootstrap-editable/js/bootstrap-editable.js"></script>
</head>
<body background="../media/img/bg.png">
    <div class="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"><!--navbar container-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Admin-landing.html"><img src="../media/img/oola-logo-tran_white.png"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="Attendance.html">Attendance</a>
          </li>
            <li class="divider-vertical"></li>
              <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="Attendance.html">Transaction</a>
          </li>
            <li class="divider-vertical"></li>
             <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="Attendance.html">My Profile</a>
          </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="Attendance.html">Sign Out</a>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
    <div class="pageheader container">
      <div class="row">
	<div class="col-md-2">
	  <div id="daterange" class="selectbox" style="margin-right:50px">
	    <img src="../media/img/office_calendar.png"/>
	    <span>Today</span> <b class="caret"></b>
	  </div>
	</div>
	<div class="dropdown">
	  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    Dropdown
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
	  </ul>
	</div>
      </div>
	  
<div id="filter">
  Arrange by:
  <a href="/landing/{{ name }}/1/{{ range }}">Name</a>
  <a href="/landing/{{ bday }}/1/{{ range }}">Birthday</a>
  <a href="/landing/{{ waiver }}/1/{{ range }}">Waiver</a>
  <a href="/landing/{{ balance }}/1/{{ range }}">Balance</a>
</div>
<div id="filter">
  Filter:
  <a href="/landing/{{ sortBy }}/1/all">All</a>
  <a href="/landing/{{ sortBy }}/1/year">Year</a>
  <a href="/landing/{{ sortBy }}/1/month">Month</a>
  <a href="/landing/{{ sortBy }}/1/week">Week</a>
  <a href="/landing/{{ sortBy }}/1/day">Day</a>
</div>
<br>

{% for user in userList %}
<div class="info">
  {% if user.birthdayAssigned %}
    {% if user.birthday == today %}
      <span><img src="../media/img/1385884051_cake.png" width="16" height="16" alt=""/>&nbsp;Birthday Today!</span>&nbsp;&nbsp;
    {% endif %}
  {% endif %}
  {% if user.dateCreated > lastWeek %}
    <span><img src="../media/img/1385886989_star.png" width="16" height="16" alt=""/>&nbsp;New</span>
  {% endif %}
  <div class="centerUsername"> <a href="/landing/userpage/?id={{ user.userId }}&url={{ url }}"> {{ user.name }} </a> </div>
  <img src="../media/img/1385935387_icon-person.png"/>
  Balance: {{ user.balance }}
  <br>
  <span><img src="../media/img/1385887097_note.png" width="16" height="16" alt=""/>&nbsp;<a href="notes.html">Notes</a></span>&nbsp;&nbsp;
  {% if not user.waiverSigned %}
    <span><img src="../media/img/1385887153_warning.png" width="16" height="16" alt=""/>&nbsp;Waiver</span>&nbsp;&nbsp;
  {% endif %}
  <span><a href="...more.html">...more</a></span>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script src="main.js"></script>
<script>
   $(document).ready(function() {
    $("#daterange").daterangepicker({
     ranges: {
      "Today": [new Date(), new Date()],
      "Yesterday": [moment().subtract("days", 1), moment().subtract("days", 1)],
      "Last Week": [moment().subtract("days", 6), new Date()],
      "Last 17 Days": [moment().subtract("days", 17), new Date()],
      "Last 30 Days": [moment().subtract("days", 29), new Date()],
      "This Month": [moment().startOf("month"), moment().endOf("month")],
      "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")],
      "Lucky 777 Days": [moment().subtract("days", 777), new Date()]
     },
     opens: "left",
     format: "YYYY-MM-DD",
     startDate: new Date(),
     endDate: new Date(),
     }, 
     function(start, end) {
      $("#daterange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
     }
    );
   });
  </script>
</body>
</html>
