<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">        
<html xmlns="http://www.w3.org/1999/xhtml">

 <!--=== Head ===-->
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %} :: Oola Dance Fitness</title>

  <link href="../media/css/bootstrap.css" rel="stylesheet">
  <link href="../media/css/ula.css" rel="stylesheet"/>
  <script src="../media/js/jquery-1.10.2.min.js"></script>
  <script src="../media/js/bootstrap.min.js"></script>
  <script src="../media/js/jquery.tools.min.js" type="text/javascript"></script>
  <script src="../media/js/jquery.curvycorners.min.js" type="text/javascript"></script>

  {% block script %}{% endblock %}
  <script type="text/javascript">
    $(function() {
      $('.holder-button').corner({
        tl : { radius : 4 },
        tr : { radius : 4 },
        bl : { radius : 4 },
        br : { radius : 4 }
      });
    });
  </script>
 </head>

 <body {% block body_id %}id="app"{% endblock %} {% block body %} background="../media/img/bg.png" {% endblock %}>

  <!--==== Header ===-->
  <div class="header">
   <div class="navbar navbar-default" role="navigation">
     <div class="container">
       <div class="navbar-header">
	<!--
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	 <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	</button>
	-->
	<a class="navbar-brand" href="/home/" title="Go to homepage">
	 <img id="logo-header" src="/media/img/oola-logo-tran_white.png" alt="Opticate Logo" style="padding: 10px; margin: 10px;"></a>
	</a>
       </div>
       <div class="collapse navbar-collapse navbar-responsive-collapse">
	<ul class="nav navbar-nav navbar-right">
<!--
	 {% if not userName %}
	  <li>
	    <a href="/signout">Signout</a>
	  </li>
	 {% else %}
	  <li class="dropdown">
	   <a class="dropdown-toggle" href="#" data-toggle="dropdown">Register<strong class="caret"></strong></a>
	    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
	       <form id="formup" method="post">
		 {% csrf_token %}
		 
		 {% for field in forup %}
		 <p>
		   <span>{{ field.label }}:</span>
		   {{ field }}
		   <span class = "error_cus" id="form_error_{{ field.name }}">{{ field.errors|join:", "}}</span>
		 </p>
		 {% endfor %}
		 
		 <div class="set-button center full">
		   <div id="svdDataMsg" class="savedDataMsg"></div>
		   <input name="submit" type="submit" value="{{ submitVal|default:"Save" }}" class="btn btn-primary" />
		 </div>
	       </form>
	     </div>
	   </li>
	   <li class="dropdown">
	     <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
	     <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
	       <form id="formin" method='post'>
		 {% csrf_token %}
		 
		 {% for field in forin %}
		 <p>
		   <span>{{ field.label }}:</span>
		   {{field}}
		   <span class="error_cus" id="form_error2_{{ field.name }}">{{ field.errors|join:", "}}</span>
		 </p>
		 {% endfor %}
		 <a href="/forgotpassword/"> Forgot Password? </a>
		 <div class="set-button center full">
		   <div class="holder-button">
		     <input name="submit" type="submit" value="{{ submitVal|default:"Sign In" }}" class="btn btn-primary" />
		   </div>
		 </div>
	       </form>
	     </div>
	   </li>
	   {% endif %}
-->
	</ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
   </div>

   <script src="media/js/forms.js" type="text/javascript"></script>

   {% block content %}{% endblock %}
       
   {% block footer %}{% endblock %}

  </div>
 </body>
</html>
