{% extends "baseClass.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="10;url={{ redirect }}" />

<div class="container">

 <div class="welcome-white-small">
  <img id="logo-header" src="/media/img/oola-logo-large-tran_white.png" 
   width="15%" alt="Ool Logo">
 </div>
 <p>&nbsp;</p>
 <div class="welcome-white-small">An internal error occured.</div>
 <div class="welcome-white-small">Please report this to the web-master, with as much detail as

</div><!-- /.container -->

{% endblock %}
