<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <link href="../media/css/bootstrap.css" rel="stylesheet">  
  <link href="../media/css/daterangepicker.css" rel="stylesheet">  
  <script src="../media/js/moment.min.js"></script>
  <script src="../media/js/jquery-1.10.2.min.js"></script>
  <script src="../media/js/bootstrap.min.js"></script>
  <script src="../media/js/daterangepicker.js"></script>
  <script src="../media/js/bsselect.js"></script>
 </head>
 <body>
  <div class="pageheader">
   <div class="row">
    <div class="span12">      
     <div id="daterange" class="selectbox pull-right" style="margin-right:50px">
      <i class="icon-calendar"></i>
      <span>Today</span> <b class="caret"></b>
     </div>
    </div>
   </div>
  </div>
  <script>
   $(document).ready(function() {
    $("#daterange").daterangepicker({
     ranges: {
      "Today": [new Date(), new Date()],
      "Yesterday": [moment().subtract("days", 1), moment().subtract("days", 1)],
      "Last Week": [moment().subtract("days", 6), new Date()],
      "Last 17 Days": [moment().subtract("days", 17), new Date()],
      "Last 30 Days": [moment().subtract("days", 29), new Date()],
      "This Month": [moment().startOf("month"), moment().endOf("month")],
      "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")],
      "Lucky 777 Days": [moment().subtract("days", 777), new Date()]
     },
     opens: "left",
     format: "YYYY-MM-DD",
     startDate: new Date(),
     endDate: new Date(),
     }, 
     function(start, end) {
      $("#daterange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
     }
    );
   });


  </script>
 </body>
</html>
