<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/Twitter_Boostrap_logo.svg/597px-Twitter_Boostrap_logo.svg.png">
        <title>Oola Dance Fitness Thingy</title>
        <link href="/Users/Ashwin/ula-project/ula/media/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Users/Ashwin/ula-project/ula/media/css/admin-ula.css" rel="stylesheet" type="text/css">
        <script src="/Users/Ashwin/ula-project/ula/media/js/bootstrap.min.js"></script>
        <script src="/Users/Ashwin/ula-project/ula/media/js/js/dropdown.js"></script>
    </head>
    <body class="notesshouldnotgooffscreen">
        <h1>Forgot Password?</h1>
        <h3>Your request has been proccessed.</h3>
        <p>You will be sent a password reset email.</p>
    </body>
</html>