{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

<!--=== Content Part ===-->
{% block content %}
<div class="container">		
 <div class="row">
  <div class="col-sm-4 col-xs-0"></div>
  <div class="col-sm-4 col-xs-12 oola-form-block">
   <h3>Forgot Password</h3>
   <form id="form" method="post" action="/forgotpassword/" novalidate>{% csrf_token %}
    {% for field in form %}
     <div class="form-group">
      <div class="input-group">
       {{ field }}
      </div>
     </div>
    {% endfor %}
    <p>
     <button class="btn-u btn-primary" type="submit">Submit</button>
     <br/>
     {{ extraInformation|safe }}
    </p>
   </form>
  </div>
 </div><!--/row-->
</div><!--/container-->		
{% endblock %}	
<!--=== End Content Part ===-->
