{% extends "base.html" %}

{% block title %}Sent Email |{% endblock %}

<!--=== Content Part ===-->
{% block content %}
<div class="container">		
 <div class="row">
  <div class="col-sm-4 col-xs-0"></div>
  <div class="col-sm-4 col-xs-12 oola-form-block">
   <h3>E-mail Sent</h3>
    <p>
     Please follow the instructions sent to your e-mail address to complete this process. <br/>Please notice that you can change your password within 6 hours.
    </p>
  </div>
 </div><!--/row-->
</div><!--/container-->		
{% endblock %}	
<!--=== End Content Part ===-->
