{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block head_extras %}
 <link href="/media/css/daterangepicker.css" rel="stylesheet">  
 <script src="/media/js/moment.min.js"></script>
 <script src="/media/js/daterangepicker.js"></script>
 <script src="/media/js/bsselect.js"></script>
 <script src="/media/js/highcharts.js"></script>
 <script src="/media/js/exporting.js"></script>

{% endblock %}

<!--=== Content Part ===-->
{% block content %}
<div class="container">

 <!--=== Header (filter/sort) --->
 <div class="row student-row-block">
  <form id="hstCntrlFrom" method="post" action="/history/dataLst/" novalidate>{% csrf_token %}
   <input type="hidden" name="page" id="page" value="{{ currPage }}">
   <div class="col-sm-3">
    <div class="input-group" title="Set range">
     <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
     <span class="form-control" id="daterange"><span>Today</span><b class="caret"></b></span>
     <input type="hidden" name="range" id="dRange" />
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Filter history">
     <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
     <select id="filterVal" class="form-control" onchange="submitHstCntrlForm( true )" name="filter">
       {% if filter == "attendance" %}
         <option selected="selected" value="attendance">Attendance</option>
         <option value="purchases">Purchases</option>
       {% else %}
         <option value="attendance">Attendance</option>
         <option selected="selected" value="purchases">Purchases</option>
       {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Sort history">
     <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
     <select id="sort" class="form-control" onchange="submitHstCntrlForm( false )" name="sort">
       {% if sort == "date" %}
         <option selected="selected" value="date">By date</option>
         <option value="name">By name</option>
       {% else %}
         <option value="date">By date</option>
         <option selected="selected" value="name">By name</option>
       {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Search a student">
     <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
     <input type="text" class="form-control" placeholder="Search a student" 
	      name="search" id="search" value="{{ search }}"
		onkeydown="if (event.keyCode == 13) { submitHstCntrlForm( true ); return false; }">
    </div>
   </div>
  </form>
 </div>

<!--=== Chart --->
<div class="row student-row-block margin-top-20">
 <div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
   <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
    <div id="chart" 
style="min-width: 300px; height: 250px; padding: 0px; margin: 5px 0px 5px 0px;
background: rgba(255,255,255,0.5);"></div>
  </div>
</div>

<!--=== History --->
<div id="HistoryInfo"></div>

</div><!--/container-->		
{% endblock %}	
<!--=== End Content Part ===-->

{% block footer %}
 <script>
  $(document).ready(function() {
   $("#daterange").daterangepicker({
    ranges: {
     "Today": [new Date(), new Date()],
     "Yesterday": [moment().subtract("days", 1), moment().subtract("days", 1)],
     "Last Week": [moment().subtract("days", 6), new Date()],
     "Last 30 Days": [moment().subtract("days", 29), new Date()],
     "This Month": [moment().startOf("month"), moment().endOf("month")],
     "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")],
     "Max": [moment("Jan 1, 2014"), new Date()],
    },
    opens: "right",
    format: "YYYY-MM-DD",
    startDate: "2014-01-01",
    endDate: new Date(),
    }, 
    function(start, end) {
     $("#daterange span").html(start.format("MMM D, YYYY") + " - " + end.format("MMM D, YYYY"));
     $("#dRange").val( $("#daterange span").text() );
     submitHstCntrlForm( true );
    }
   );

  $("#daterange span").html("Jan 1, 2014" + ' - ' + moment().format('MMMM D, YYYY'));
  $("#dRange").val( $("#daterange span").text() );
  submitHstCntrlForm( true );
  
  });

function submitHstCntrlForm( plot, page )
{	
	
	var form = jQuery("#hstCntrlFrom");
	if (page != undefined){
		jQuery( "input#page").val( page );
	}
	/*
	else{
		jQuery( "input#page").val( {{ currPage }} );
		alert( {{ currPage }} );
	}
	*/
	jQuery.post( jQuery(form).attr("action"), jQuery(form).serialize(), function(data){
		jQuery( "#HistoryInfo" ).html( data );
                
		if (plot){
			plotChart();
		}
	});
}
  
 </script>

{% endblock %}	
