  <!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/Twitter_Boostrap_logo.svg/597px-Twitter_Boostrap_logo.svg.png">
    <title>Ula Dance Fitness</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    <link href="admin-ula.css" rel="stylesheet" type="text/css">
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="bootstrap-editable/js/bootstrap-editable.js"></script>
</head>
<body background="../mockup/bg.png">
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <ul class="nav navbar-nav">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Attendance.html">Attendance</a>
          </li>
            <li class="divider-vertical"></li>
          <li class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Transaction.html">Transaction</a>
          </li>
          </ul>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Admin-landing.html">Ula Dance Class Zumba Thing</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Add<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <form class="form" action="../[YOUR ACTION]" method="post" accept-charset="UTF-8">
              <input id="search" value="Enter Name" type="text" name="name" size="30" />
              <div id="error_name">Already In Database</div>
              <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Add" />
              </form>
            </div>
          </li>
            <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Search<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <form class="form" action="../[YOUR ACTION]" method="post" accept-charset="UTF-8">
              <input id="search" value="Enter Name" type="search" name="name" size="30" />
              <div id="error_name">Not In Database</div>
              <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Search" />
              </form>
            </div>
          </li>
            <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Ula<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <form class="form" action="../[YOUR ACTION]" method="post" accept-charset="UTF-8">
  				<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Do Something" />
</form>
            </div>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</h2>
    <form class="form" action="/landing/{{ url }}" method="post" accept-charset="UTF-8"> {% csrf_token %}
        &nbsp;&nbsp;<span><span class="notestuffs">Name: </span>&nbsp;<input id="noteinput" type="text" name="name" size="30" value="{{ name }}"/></span>

        <br>
        <br>

        &nbsp;&nbsp;<span><span class="notestuffs">Birthday: </span><input type="text" class="date" id="noteinput" size="30" name="birthday" value="{{ birthday }}"/></span>

        <br>
        <br>

	&nbsp;&nbsp;<span><span class="notestuffs">Balance: </span><input type="text" class="balance" id="noteinput" size="30" name="balance" value="{{ balance }}"/></span>

        <br>
        <br>

        &nbsp;&nbsp;<span><span class="notestuffs">Email: </span><input type="email" id="noteinput" size="30" name="email" value="{{ email }}"/></span>

        <br>
        <br>

        &nbsp;&nbsp;<span><span class="notestuffs">Address: </span><input id="noteinput" type="text" size="30" name="address" value="{{ address }}"/></span>

        <br>
        <br>

	{% if waiverSigned == "1" %}
            &nbsp;&nbsp;<span><span class="notestuffs">Waiver Signed </span>&nbsp;<input id="noteinput" type="checkbox" name="waiverSigned" size="60" checked/></span>
	{% else %}
            &nbsp;&nbsp;<span><span class="notestuffs">Waiver Signed </span>&nbsp;<input id="noteinput" type="checkbox" name="waiverSigned" size="60" /></span>
	{% endif %}

        <br>
        <br>

        {% if facebookConnected == "1" %}
	    &nbsp;&nbsp;<span><span class="notestuffs">Facebook Account Connected </span><input id="noteinput" size="30" type="checkbox" name="facebookConnected" checked/></span>
	{% else %}
            &nbsp;&nbsp;<span><span class="notestuffs">Facebook Account Connected </span><input id="noteinput" size="30" type="checkbox" name="facebookConnected"/></span>
	{% endif %}

        <br>
        <br>

        &nbsp;&nbsp;<span><span class="notestuffs">Notes: </span><textarea id="noteinput" name="notes" class="extranotes" value="{{ notes }}">{{ notes }}</textarea></span>

        <br>
	<br>
	<br>
	<br>

        &nbsp;&nbsp;<span class="savecancelbuttons"><input name="submit" type="submit" class="btn btn-primary notestuffs" style="clear: left; width: 150px; height: 32px; font-size: 13px;" value="Save"/>

	&nbsp;&nbsp;<a href="/landing/{{ url }}" id="noteinput">Cancel</a></span>

	<input type="hidden" name="userId" value="{{ userId }}" />
	<input type="hidden" name="url" value="{{ url }}" />


    </form>
</body>
