<!-- Standard Pagination -->
<!-- requires "url", "currPage", "nPages" -->

<ul class="pagination">
{% if currPage > 1 %}
<li title="First page"><a href="{{ url }}/page_1/">&lt;&lt;</a></li>
<li title="Preview page"><a href="{{ url }}/page_{{ currPage|add:-1 }}/">&lt;</a></li>
{% else %}
<li class="disabled" title="First page"><a href="{{ url }}/page_1/">&lt;&lt;</a></li>
<li class="disabled" title="Preview page"><a href="{{ url }}/page_1/">&lt;</a></li>
{% endif %}
{% if currPage > 2 and currPage == nPages %}
<li title="Page {{ currPage|add:-2 }}"><a href="{{ url }}/page_{{ currPage|add:-2 }}/">{{ currPage|add:-2 }}</a></li>
{% endif %}
{% if currPage > 1 %}
<li title="Page {{ currPage|add:-1 }}"><a href="{{ url }}/page_{{ currPage|add:-1 }}/">{{ currPage|add:-1 }}</a></li>
{% endif %}
<li class="active" title="Page {{ currPage }}"><a href="{{ url }}/page_{{ currPage }}/">{{ currPage }}</a></li>
{% if currPage < nPages %}
<li title="Page {{ currPage|add:+1 }}"><a href="{{ url }}/page_{{ currPage|add:+1 }}/">{{ currPage|add:+1 }}</a></li>
{% endif %}
{% if currPage == 1 and nPages > 2 %}
<li title="Page 3"><a href="{{ url }}/page_3/">3</a></li>
{% endif %}
{% if currPage < nPages %}
<li title="Next page"><a href="{{ url }}/page_{{ currPage|add:+1 }}/">&gt;</a></li>
<li title="Last page"><a href="{{ url }}/page_{{ nPages }}/">&gt;&gt;</a></li>
{% else %}
<li class="disabled" title="Next page"><a href="{{ url }}/page_{{ nPages }}/">&gt;</a></li>
<li class="disabled" title="Last page"><a href="{{ url }}/page_{{ nPages }}/">&gt;&gt;</a></li>
{% endif %}
</ul>
