<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
	<h3>{{ title }}</h3>
   </div>
 <div class="modal-body">
 <form id="editStudentFrm"  method="post" action="{{ actionUrl }}" novalidate>{% csrf_token %}

   {% for field in form %}
      <div class="row form-group" style="margin:5px;">
	{% if not field.is_hidden %}
          <span class="col-sm-3 text-right">{{ field.label }}:</span>
	{% endif %}
	<span class="col-sm-9">{{ field }}</span>
      </div>
    {% endfor %}

    <div class="row" style="margin:5px;">
     <span class="col-sm-3"></span>
     <span class="col-sm-9">
      <button class="btn-u btn-primary" type="submit">{{ submitVal }}</button>&nbsp;
      <a href="" data-dismiss="modal" aria-hidden="true">Cancel</a>
     </span>
    </div>
  </form>
 </div>
</div>

<script src="media/js/forms.js"></script>
