<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
	<h3>{{ title }}</h3>
   </div>
 <div class="modal-body">

	<div class="table-responsive">
  	  <table class="table table-condensed table-striped table-bordered">

          <thead>
            <tr>
              <th>Activity</th>
              <th>Value</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
          {% for data in recentLst %}
            <tr>
              <td>{{ data.0 }}</td>
              <td>{{ data.1  }}</td>
              <td>{{ data.2  }}</td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div><!-- /.table-responsive -->

    <div>
      <center>
      <button class="btn-u btn-primary" data-dismiss="modal">Close</button>
      </center>
    </div>
  
 </div>
</div>
