{% extends "base.html" %}
{% block title %}Students{% endblock %}

{% block head_extras %}
  <link href="/media/css/daterangepicker.css" rel="stylesheet">  
  <script src="/media/js/moment.min.js"></script>
  <script src="/media/js/daterangepicker.js"></script>
  <script src="/media/js/bsselect.js"></script>
  <script type="text/javascript">
    // Using jQuery.
    /*
    $(function() {
      $('cntrlFrom').each(function() {
        $(this).find('input').keypress(function(e) {
          // Enter pressed?
           if(e.which == 10 || e.which == 13) {
             submitCntrlForm();
	      return false;
           }
         });
       });
     });*/
  </script>
  <script type="text/javascript">
    $(function () {
      $('.selectpicker').selectpicker({
        //'selectedText': 'cat'
      });
    });
  </script>
{% endblock %}

<!--=== Content Part ===-->
{% block content %}
<div class="container">

 <div id="editSudent" class="modal in" tabindex="-1" role="dialog" aria-hidden="true"></div>
 <div id="purchaseStudent" class="modal in" tabindex="-1" role="dialog" aria-hidden="true"></div>
 <div id="rcntStudentAct" class="modal in" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--=== Add Student ===-->

 <!--=== Header (filter/sort) --->
 <div class="row student-row-block">
  <form id="cntrlFrom" method="post" action="/students/dataLst/" novalidate>{% csrf_token %}
   <input type="hidden" name="page" id="page" value="{{ currPage }}">
   <div class="col-sm-3">
    <div class="input-group" title="Set range">
     <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
     <span class="form-control" id="daterange"><span>Today</span><b class="caret"></b></span>
     <input type="hidden" name="range" id="dRange" />
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Filter students">
     <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
     <select class="selectpicker form-control" data-container="body" data-width="auto"
      id="filterVal" onchange="submitCntrlForm()" name="filter">
       {% if filter == "bday" %}
         <option value="none">None</option>
         <option selected="selected" value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% elif filter == "waiver" %}
	 <option value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option selected="selected" value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% elif filter == "balance" %}
	 <option value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option selected="selected" value="balance">Low balances</option>
       {% else %}
	 <option selected="selected" value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Sort students">
     <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
     <select class="selectpicker form-control" data-container="body" data-width="auto"
      id="sort" onchange="submitCntrlForm()" name="sort">
      {% if sort == "activity"  %}
        <option value="name">By name</option>
        <option value="balance">By balance</option>
        <option selected="selected" value="activity">By activity</option>
      {% elif sort == "balance" %}
	<option value="name">By name</option>
        <option selected="selected" value="balance">By balance</option>
        <option value="activity">By activity</option>
      {% else %}
	<option selected="selected" value="name">By name</option>
        <option value="balance">By balance</option>
        <option value="activity">By activity</option>
      {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
     <div class="input-group" title="Search a student">
       <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
       <input type="text" class="form-control" placeholder="Search a student" 
	      name="search" id="search"
		onkeydown="if (event.keyCode == 13) { submitCntrlForm(); return false; }">
     </div>
   </div>
  </form>
 </div>
 
 <div id="studentsInfo"></div>

</div><!--/container-->		
{% endblock %}	
<!--=== End Content Part ===-->

{% block footer %}
 <script>
  $(document).ready(function() {
   $("#daterange").daterangepicker({
    ranges: {
     "Today": [new Date(), new Date()],
     "Yesterday": [moment().subtract("days", 1), moment().subtract("days", 1)],
     "Last Week": [moment().subtract("days", 6), new Date()],
     "Last 30 Days": [moment().subtract("days", 29), new Date()],
     "This Month": [moment().startOf("month"), moment().endOf("month")],
     "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")],
     "Max": [moment("Jan 1, 2014"), new Date()],
    },
    opens: "right",
    format: "YYYY-MM-DD",
    startDate: "2014-01-01",
    endDate: new Date(),
    }, 
    function(start, end) {
     $("#daterange span").html(start.format("MMM D, YYYY") + " - " + end.format("MMM D, YYYY"));
     $("#dRange").val( $("#daterange span").text() );
     submitCntrlForm();
    }
   );

  $("#daterange span").html("Jan 1, 2014" + ' - ' + moment().format('MMMM D, YYYY'));
  $("#dRange").val( $("#daterange span").text() );
  submitCntrlForm();
  
  });

function submitCntrlForm( page )
{
	var form = jQuery("#cntrlFrom");
	if (page != undefined){
		jQuery( "input#page").val( page );
	}
	/*
	else{
		jQuery( "input#page").val( {{ currPage }} );
		alert( {{ currPage }} );
	}
	*/
	jQuery.post( jQuery(form).attr("action"), jQuery(form).serialize(), function(data){
		jQuery( "#studentsInfo" ).html( data );
	});
}
  
 </script>

<link href="/media/css/datepicker.css" rel="stylesheet"/>
<script src="media/js/bootstrap-datepicker.js"></script>
<script>
 jQuery(document).ready(function() {
        jQuery('#datePik').datepicker({
                format: 'yyyy-mm-dd' });
 });
</script>

{% endblock %}	
