{% extends "base.html" %}
{% block title %}Students{% endblock %}

{% block head_extras %}
  <link href="../media/css/daterangepicker.css" rel="stylesheet">  
  <script src="../media/js/moment.min.js"></script>
  <script src="../media/js/daterangepicker.js"></script>
  <script src="../media/js/bsselect.js"></script>
  <script type="text/javascript">
    // Using jQuery.

    $(function() {
      $('form').each(function() {
        $(this).find('input').keypress(function(e) {
          // Enter pressed?
           if(e.which == 10 || e.which == 13) {
             this.form.submit();
           }
         });
       });
     });
</script>
{% endblock %}

<!--=== Content Part ===-->
{% block content %}
<div class="container">
<!--=== Add Student ===-->

 <!--=== Header (filter/sort) --->
 <div class="row student-row-block">
  <form id="form" method="get" action="." novalidate>{% csrf_token %}
   <div class="col-sm-3">
    <div class="input-group" title="Set range">
     <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
     <span class="form-control" id="daterange"><span>Today</span><b class="caret"></b></span>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Filter students">
     <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
     <select id="filterVal" class="form-control" onchange="this.form.submit()" name="filter">
       {% if filter == "bday" %}
         <option value="none">None</option>
         <option selected="selected" value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% elif filter == "waiver" %}
	 <option value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option selected="selected" value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% elif filter == "balance" %}
	 <option value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option selected="selected" value="balance">Low balances</option>
       {% else %}
	 <option selected="selected" value="none">None</option>
         <option value="bday">Upcoming B-days</option>
         <option value="waiver">Missing waivers</option>
         <option value="balance">Low balances</option>
       {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
    <div class="input-group" title="Sort students">
     <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
     <select id="sort" class="form-control" onchange="this.form.submit()" name="sort">
      {% if sort == "activity"  %}
        <option value="name">By name</option>
        <option value="balance">By balance</option>
        <option selected="selected" value="activity">By activity</option>
      {% elif sort == "balance" %}
	<option value="name">By name</option>
        <option selected="selected" value="balance">By balance</option>
        <option value="activity">By activity</option>
      {% else %}
	<option selected="selected" value="name">By name</option>
        <option value="balance">By balance</option>
        <option value="activity">By activity</option>
      {% endif %}
     </select>
    </div>
   </div>
   <div class="col-sm-3">
     <div class="input-group" title="Search a student">
       <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
       <input type="text" class="form-control" placeholder="Search a student" 
	      name="search" id="search">
     </div>
   </div>
  </form>
 </div>

 <!--=== Header (#/add)--->
 <div class="row student-row-block margin-top-20">
  <div class="col-sm-4 col-xs-0"></div>
  <div class="col-sm-4 col-xs-6 center" style="font-size:18px;">
   <span class="class-em">{{ nStudents }}</span> Students 
  </div>
  <div class="col-sm-4 col-xs-6">
   <ul class="list-inline pull-right">
    <li class="dropdown" title="Add a new student">
     <a id="addStudent-dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user oola"></i></a>
       <div id="addStudent" class="dropdown-menu oola-flush-right">
	 <form id="formup" method="post" style="margin-top: 10px;" action="/students/" novalidate> <!-- hitching on with the signup form validation -->
           {% csrf_token %}
             {% for field in addUserForm %}
	        <div class="form-group">
                  <div class="input-group">

		    {% if field.label == "Admin" or field.label == "Waiver" %} 
		      {{ field.label }}
		    {% endif %}

		    {{ field }}
		  </div>
		</div>
	     {% endfor %}
             <p class="text-center">
               <button class="btn-u btn-primary" type="submit" id="register_submit">Register</button>
             </p>
         </form>
       </div>
    </li>
    <li class="dropdown" title="Upload students (in CSV)">
     <a id="uploadStudent" class="dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-upload oola"></i>
     </a>
    </li>
    <li class="dropdown" title="Download students (in CSV)">
     <a id="downloadStudent" class="dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-download oola"></i>
     </a>
    </li>
    &nbsp;
   </ul>
  </div>
 </div>

 <!--=== Students--->
 <div class="row student-row-block margin-top-20">
  {% for user in userList %}
   <div class="col-md-3 col-sm-4"> 
    <div class="student-item-block">
     <div class="row">
      <div class="col-xs-9" title="{{ user.name }}"> {{ user.name }}</div>
      <div class="col-xs-3 class-em" title="Balance">{{ user.balance }}</div>
     </div><!-- row -->
     <div class="row margin-top-10">
      <!-- Recent activity -->
      <div class="col-xs-1"> 
       <i {% if user.recent %}
	 class="glyphicon glyphicon-star icon-orange" title="Recent activity!"
	{% else %}
	 class="glyphicon glyphicon-star icon-grey" title="No recent activity!"
        {% endif %} ></i>
      </div>
      <!-- Edit -->
      <div class="col-xs-1"> 
       <a class="student-icon" href="/students/edit/?id={{ user.userId }}&url={{ url }}/" 
        title="Edit {{ user.name }}">
        <i class="glyphicon glyphicon-pencil"></i>
       </a>
      </div>
      <!-- Email -->
      <div class="col-xs-1"> 
       <a class="student-icon" href="mailto:{{ user.email }}" 
        title="Email {{ user.name }}">
        <i class="glyphicon glyphicon-envelope"></i>
       </a>
      </div>
      <!-- Birthday -->
      <div class="col-xs-1"> 
       <img src="/media/img/1385884051_cake.png" width="16" height="16"
        {% if not user.showBirthday %} class="icon-greyed" {% endif %}
	{% if user.hasBirthday %} title="Birthday: {{ user.birthday|date }}" {% else %}
	title="Birthday: unknown" {% endif %}>
      </div>
      <!-- Waiver -->
      <div class="col-xs-1"> 
       <i {% if user.waiverSigned %}
	 class="glyphicon glyphicon-warning-sign icon-grey" title="No warnings!"
	{% else %}
	 class="glyphicon glyphicon-warning-sign icon-red" title="Waiver not signed!"
        {% endif %} ></i>
      </div>
      <!-- Stats -->
      <div class="col-xs-1"> 
       <a class="student-icon" href="/stats/{{ user.userId }}/">
        <i class="glyphicon glyphicon-stats" title="View user activity stats ..."></i>
       </a>
      </div>
      <div class="clearfix visible-xs"></div>
     </div><!-- row -->
    </div>
   </div>
  {% endfor %}
 </div>

 <!--=== Pagination--->
 {% if nPages > 1 %}
  <div class="row student-row-block margin-top-20">
   <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <div class="center">
    {% include "pagination.html" %}
   </div>
   </div>
  </div>
 {% endif %}

</div><!--/container-->		
{% endblock %}	
<!--=== End Content Part ===-->

{% block footer %}
 <script>
  $(document).ready(function() {
   $("#daterange").daterangepicker({
    ranges: {
     "Today": [new Date(), new Date()],
     "Yesterday": [moment().subtract("days", 1), moment().subtract("days", 1)],
     "Last Week": [moment().subtract("days", 6), new Date()],
     "Last 30 Days": [moment().subtract("days", 29), new Date()],
     "This Month": [moment().startOf("month"), moment().endOf("month")],
     "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")],
     "Max": [moment("Jan 1, 2014"), new Date()],
    },
    opens: "right",
    format: "YYYY-MM-DD",
    startDate: new Date(),
    endDate: new Date(),
    }, 
    function(start, end) {
     $("#daterange span").html(start.format("MMM D, YYYY") + " - " + end.format("MMM D, YYYY"));
    }
   );
  });
 </script>

<link href="/media/css/datepicker.css" rel="stylesheet"/>
<script src="media/js/bootstrap-datepicker.js"></script>
<script>
 jQuery(document).ready(function() {
        jQuery('#datePik').datepicker({
                format: 'yyyy-mm-dd' });
 });
</script>

{% endblock %}	
